[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GalSagie
[access "refs/for/refs/*"]
	read = group user/GalSagie
	push = group user/GalSagie
	label-Code-Review = -2..+2 group user/GalSagie
	label-Verified = -1..+1 group user/GalSagie
	rebase = group user/GalSagie
	removeReviewer = group user/GalSagie
	submit = group user/GalSagie
[access "refs/heads/*"]
	read = group user/GalSagie
	create = group user/GalSagie
	push = +force group user/GalSagie
	pushMerge = group user/GalSagie
[access "refs/tags/*"]
	push = +force group user/GalSagie
	pushTag = group user/GalSagie
	pushSignedTag = group user/GalSagie
